#main_box h1 .alt {
  font-weight: bold; }

.sect {
  @clear-fix; }
  .sect > div {
    padding: 6rem 0;
    background-repeat: no-repeat;
    background-size: 50% auto; }
  .sect:nth-child(even) {
    background-color: #f8f8f8; }
  .sect div div {
    line-height: 1.75; }
  .sect .btn {
    display: inline-block;
    background: #ff5855;
    color: #fff;
    border: 0;
    line-height: 1;
    padding: 0.5em 3em;
    background: transparent;
    border: 2px solid #ff5855;
    color: #ff5855;
    margin-top: 1.5em; }
    .sect .btn:hover, .sect .btn:active {
      text-decoration: none;
      color: #fff; }
    .sect .btn:hover, .sect .btn:active {
      color: #ff5855; }
  @media (max-width: 768px) {
    .sect {
      padding-top: 5em; }
      .sect > div {
        background-position: 50% 0;
        background-size: 80% auto;
        padding-top: 60%;
        width: 80%; } }
  @media (min-width: 769px) {
    .sect > div {
      background-position: 0% 50%; }
    .sect > div > h1, .sect > div > div {
      margin-left: 60%;
      margin-right: 0; }
    .sect:nth-child(even) > div {
      background-position: 100% 50%; }
    .sect:nth-child(even) > div > h1, .sect:nth-child(even) > div > div {
      margin-left: 0;
      margin-right: 60%; } }

#origin_section > div {
  background-image: url(bp1.jpg); }

#safety_section > div {
  background-image: url(bp2.jpg); }

#time_section > div {
  background-image: url(bp3.jpg); }

#lifestyle_section > div {
  background-image: url(bp4.jpg); }

#muji_section {
  background-color: #b7b3ab;
  background-image: url(mbg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  padding: 3em 0; }
  @media (max-width: 540px) {
    #muji_section {
      background-image: url(mbg_s.jpg); } }
  #muji_section div {
    max-width: 50em;
    height: 12em;
    background-image: url(muji.png);
    background-size: contain;
    background-position: 0% 50%;
    background-repeat: no-repeat; }
    @media (max-width: 540px) {
      #muji_section div {
        background-image: url(muji_s.png); } }
  #muji_section p {
    margin-left: 20rem;
    padding-top: 3rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
    #muji_section p span {
      display: inline-block; }
  @media (max-width: 500px) {
    #muji_section p {
      padding-top: 1rem; } }
  @media (max-width: 480px) {
    #muji_section p {
      margin-left: 17.5rem; } }
  @media (max-width: 410px) {
    #muji_section div {
      background-size: 12em auto;
      background-position: 0.5em 50%;
      background-repeat: no-repeat;
      padding: 0; }
    #muji_section p {
      margin-left: 12.5rem; } }

#cfa_section {
  background: #f8f8f8;
  text-align: center;
  padding: 4em 0; }
  #cfa_section h1 {
    text-align: center; }
    #cfa_section h1:after {
      text-align: center;
      margin-left: auto;
      margin-right: auto; }
  #cfa_section .desc {
    color: #bbb; }
  #cfa_section ul {
    margin-bottom: 3em; }
    #cfa_section ul li {
      display: inline-block;
      width: 49%; }
      @media (max-width: 400px) {
        #cfa_section ul li {
          width: 100%; } }
      #cfa_section ul li > div {
        text-align: left;
        margin: 1em;
        padding: 1em;
        background-color: white;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        @clear-fix; }
      #cfa_section ul li img {
        width: 100%;
        height: auto; }
      #cfa_section ul li h2 {
        font-size: 1.5em;
        font-weight: normal;
        margin-top: 0.5rem;
        margin-bottom: 0.25rem; }
        #cfa_section ul li h2 span {
          font-size: 1rem;
          font-weight: bold;
          margin-left: 0.25em;
          color: #999; }
      #cfa_section ul li .btn {
        display: inline-block;
        background: #ff5855;
        color: #fff;
        border: 0;
        line-height: 1;
        padding: 0.5em 3em;
        font-size: 1em;
        padding: 0.5em 1em;
        float: right; }
        #cfa_section ul li .btn:hover, #cfa_section ul li .btn:active {
          text-decoration: none; }
      #cfa_section ul li p {
        margin-bottom: 0.5em; }
      #cfa_section ul li strong {
        color: #666;
        line-height: 1;
        font-weight: normal; }
        #cfa_section ul li strong em {
          line-height: 1;
          font-size: 2em;
          font-weight: 300;
          font-style: normal;
          font-family: "Roboto"; }
  #cfa_section .more {
    margin-top: 3em;
    text-align: center; }
    #cfa_section .more .btn {
      font-size: 1em;
      color: #ff5855;
      background: none;
      border: 2px solid #ff5855;
      padding: 0.5em 2em; }
      #cfa_section .more .btn:hover, #cfa_section .more .btn:active {
        text-decoration: none; }
    #cfa_section .more p {
      color: #808080;
      margin-bottom: 1.5em; }

#spotlight {
  background-color: #AAB244;
  overflow: hidden;
  position: relative;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    #spotlight {
      height: 30rem; }
      #spotlight .w {
        padding-left: 5%;
        padding-right: 5%; } }
  @media (min-width: 769px) {
    #spotlight {
      height: 40rem; }
      #spotlight .w {
        width: 60rem; } }
  #spotlight .w {
    margin: auto;
    text-align: left;
    box-sizing: border-box;
    height: 100%; }
  #spotlight ul, #spotlight li {
    overflow: hidden;
    height: 100%;
    width: 100%; }
  #spotlight li {
    position: absolute;
    left: 0;
    top: 0; }
  #spotlight .spotlight_list {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-bottom: 0.5em; }
    #spotlight .spotlight_list span {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      margin: auto 0.75em;
      text-indent: -9999px;
      background: #ccc;
      border-radius: 2em;
      cursor: pointer; }
      #spotlight .spotlight_list span:hover, #spotlight .spotlight_list span.current {
        background: #f33; }

#b_1 {
  background-image: url(banner_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0; }
  @media (max-width: 768px) {
    #b_1 {
      background-image: url(banner_1_s.jpg); } }
  #b_1 .w {
    padding-top: 10em;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.3); }
    @media (max-width: 768px) {
      #b_1 .w {
        padding-top: 4em; } }
    #b_1 .w h1 {
      font-size: 3em; }
      #b_1 .w h1 .alt {
        font-weight: bold; }
    #b_1 .w .btn {
      display: inline-block;
      background: #ff5855;
      color: #fff;
      border: 0;
      line-height: 1;
      padding: 0.5em 3em;
      margin-top: 2em;
      background-color: transparent;
      border: 2px solid #333;
      color: #333; }
      #b_1 .w .btn:hover, #b_1 .w .btn:active {
        text-decoration: none;
        color: #fff; }
      #b_1 .w .btn:hover, #b_1 .w .btn:active {
        color: #333; }

#b_0 {
  background-color: #738994;
  background-image: url(backup_b.jpg);
  background-size: cover;
  background-position: 0% 50%;
  background-repeat: no-repeat; }
  #b_0 .backup {
    color: #fff; }
    #b_0 .backup span {
      display: block;
      margin-bottom: 0.25em; }
    #b_0 .backup p {
      font-size: 1.5em; }
    #b_0 .backup h1 {
      height: 2em;
      background-image: url(nonbreak.png);
      background-size: contain;
      background-repeat: no-repeat;
      text-indent: -9999px; }
      #b_0 .backup h1:after {
        display: none; }
  #b_0 .egg {
    color: #fff;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 6em;
    position: relative; }
    #b_0 .egg p > span {
      display: block;
      font-size: 1.25em;
      line-height: 1;
      background-image: url(sign.png);
      background-size: contain;
      background-repeat: no-repeat;
      padding: 0.5em 0.75em 0.6em; }
    #b_0 .egg em {
      font-style: normal;
      font-size: 2em;
      font-weight: 700;
      height: 3em;
      vertical-align: top;
      text-align: right;
      position: absolute;
      top: 0;
      left: 3.25em;
      padding-left: 3.75em;
      background-image: url(egg.png);
      background-size: contain;
      background-repeat: no-repeat; }
      #b_0 .egg em span {
        font-size: 0.5em;
        vertical-align: top;
        font-weight: 300; }
  #b_0 .wrap {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4em 1.5em;
    width: 21em;
    height: 100%; }
  #b_0 #cfa_btn {
    display: inline-block;
    background: #ff5855;
    color: #fff;
    border: 0;
    line-height: 1;
    padding: 0.5em 3em;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff; }
    #b_0 #cfa_btn:hover, #b_0 #cfa_btn:active {
      text-decoration: none;
      color: #fff; }
  @media (max-width: 450px) {
    #b_0 {
      background-image: url(backup_s.jpg); }
      #b_0 .wrap {
        background-color: transparent;
        width: 100%; } }
  @media (min-width: 451px) {
    #b_0 .backup {
      padding-top: 2em;
      padding-bottom: 3em; }
    #b_0 #cfa_btn {
      margin-top: 3em; } }

/*# sourceMappingURL=index.css.map */
